@charset 'UTF-8';

:root{
    --branco-pricipal: #FFFFFF;
    --cinza-secundario: #c0c0c0;
    --botao-azul: #167bf7;
    --cor-de-fundo: #00030c;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
}

*{
    margin: 0;
    padding: 0;
}

/*estilo da barra lateral*/
body::-webkit-scrollbar{
    width: 4px;
}

body::-webkit-scrollbar-track{
    background-color: #167bf7;
    
}

body::-webkit-scrollbar-thumb{
    background-color: #00030c;
    margin: 5px;
    width: 2px;
}
/*estilo da barra lateral*/

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-pricipal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal{
    background-image: url("imagens/Background.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__botao{
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-pricipal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario{
    background-color: transparent;
    border: 2px solid var(--branco-pricipal );
}
.container__aviso{
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo{
    font-size: 28px;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-pricipal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundario);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__listas{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos__titulo{
    font-size: 48px;
    color: var(--branco-pricipal);
}

.listas__item{
    font-size: 32px;
    color: var(--branco-pricipal);
}

.rodape{
    text-align: center;
    font-family: var(--fonte-principal);
}

.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 2.3em 0 1.5em 0;
}

.lista__link>a{
    color: var(--branco-pricipal);
    text-decoration: none;
    margin-right: 1.2em;
}

.rodape__texto{
    margin: 0 1.5em 1.5em 1.5em;
    
}

.lista__link a:hover{
    color: var(--botao-azul);
}

.lista__link a:active{
    color: purple;
}

.container__botao:hover{
    background-color: var(--botao-azul-efeito);
    color: var(--cor-de-fundo);
}