* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div.container {
    font-family: 'Poppins', sans-serif;
    padding: 10px 20px 10px 20px;
    background-color: #120902;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #4D0E07;
    padding: 0.8rem 1.2rem;
    border-radius: 10px 10px 0 0;

}

nav a {
    position: relative;
    transition: color 0.3s;
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    bottom: -3px;
    left: 0;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav a:hover::after {
    transform: scaleX(1);
}

.logo {
    font-size: 2rem;
    color: #91541E;
    font-weight: bold;
}

.logo span {
    font-size: 2.1rem;
    padding-bottom: 10px;
    color: #fff;
}

span{
    color: #91541E;
    font-weight: bold;
}

nav a {
    color: #91541E;
    margin-left: 1.8rem;
    text-decoration: none;
    font-weight: 500;
    padding-bottom: 0.3rem;
}

nav a.cart {
    font-size: 1.2rem;
}

nav a {
    font-size: 1.2rem;
    color: #91541E;
}


#tesoura {
    font-size: 56px;
    padding-top: 10px;
    color: #91541E;
}

#tesoura {
    animation: float 3s ease-in-out infinite;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-10px);
    }
}


body {
    background-color: #120902;
    /* fundo escuro */
    color: white;
    /* texto branco */
    font-family: Arial, sans-serif;
    margin: 0;
}

h1{
    margin-top: 10px;
    font-size: 45px;
    line-height: 1.3;
    color: #fff;
    text-align: center;
}

main>p{
    text-align: center;
}

div .contact {
    flex-wrap: wrap;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;

}

form {
    width: 50vw;
}

label {
    font-size: 1.33rem;
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="tel"],
textarea {
    width: 98%;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.288);
    background: #201004;
    color: white;
}

input[type="text"],
input[type="tel"]{
    height: 30px;
}

textarea{
    height: 400px;
}

input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #612a00;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #91541E;
}

.mapa {
    width: 800px;
    margin: 40px auto;
    padding: 10px;
}
h2{
    color: #af6d33;
    margin-bottom: 20px;
}
a{
    text-decoration: none;
    color: white;
}
i,h3{
    display: inline-block;
}

i{
    margin-top: 9px;
}

.endereco,.telefone,.email,.horario{
    margin-bottom: 20px;
}

.info{
    margin-bottom: 10px;
    padding: 15px;
    background-color: #201004;
    border-radius: 10px;
}

.info p {
    line-height: 1.6;

}

.icone{
    width: 30px;
    height: 33px;
    margin-right: 10px;
    display: inline-block;
    background-color: #91541E;
    border-radius: 8px;
    text-align: center;
    
}

.ico-redes{
    display: flex;
    margin-top: 10px;
}

.ico-redes>.ico{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.ico-redes>.ico>i{
    margin-top: 0px;
}

.icone2{
    width: 30px;
    height: 33px;
    margin-right: 10px;
    display: inline-block;
    background-color: #4D0E07;
    border-radius: 8px;
    text-align: center;
}

.imagem-contato {
    display: block;
    margin: 30px auto;
    max-width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}

footer {
    background-color: #0a0600;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

footer>nav>a {
    font-size: 0.9rem;
    border-bottom: none;
}

footer p {
    font-size: 0.8rem;
    font-style: italic;
    margin-top: 5px;
    margin: 0;
    color: rgb(87, 86, 86);
}


.menu{
    display: none;
}

.close{
    display: none;
}



@media (max-width: 810px){
    .menu{
        display: block;
        position: static;
        left: 500px;
        top: 20px;
        cursor: pointer;
    }

    .close{
        display: none;
        position: absolute;
        left: 500px;
        top: 20px;
        cursor: pointer;
    }
    header>div>nav{
        display: none;
    }
    .active{
        display: flex;
        flex-direction: column;
    }
    .disabled{
        display: none;
    }
    .abled{
        display: block;;
    }
}